<div class="review-portion">
  <h1>Reviews
  <%= link_to "Add a Review", new_video_review_path(video), class: 'btn btn-primary' %>

  </h1>
  <% @video.reviews.each do |review| %>
    <div class="review-container">
      <div class="review-card">
        <div class="review-top-portion d-flex justify-content-between">
          <div class="img-and-name d-flex">
            <% if review.user.photo.attached? %>
              <%= cl_image_tag(review.user.photo.key) %>
            <% else %>
              <img src="http://simpleicon.com/wp-content/uploads/multy-user-256x256.png" alt="standardPic">
            <% end %>
            <h2> <%= review.user.name %> </h2>
            <%= review.id %>
            <%= link_to review_path(review), method: "delete" do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
          <div class="rating-stars d-flex pt-2">
          <% review.rating.times do  %>
              <i class="fas fa-star text-warning"></i>
          <% end %>
          </div>
        </div>
        <div class="comment-box">
          <p> <%= review.comment %> </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
