<div class="video-card">
  <video controls autoplay src="<%= video.video_url %>" type="<%= video.video_type %>"> <!-- Showing the video type -->
    Sorry, your browser doesn't support embedded videos. <!-- Alternate text if the video cannot be not shown -->
  </video>
  <h4><%= video.title %></h4>
  <p>By who | <%= video.duration %> min | difficulty: <%= video.difficulty %></p>
</div>
