<div class="col-12" style="min-width: 880px">
<%= cl_image_tag("https://res.cloudinary.com/cheyennelu/image/upload/v1614143078/yoga-banner.jpg", width: '100%', height: 250, background: 'white', crop: :lpad) %>
</div>
<div class="container">
  <div class="profile-container">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, width: 120, height: 120, crop: :fill, class: 'profile-avatar' %>
    <% else %>
      <%=  cl_image_tag('https://res.cloudinary.com/cheyennelu/image/upload/v1614151735/profile-default.jpg', class: 'profile-avatar') %>
    <% end %>
    <h2 class="user-name"><%= @user.name %></h2>
    <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-primary' %>
  </div>
</div>

<!-- if instructor-->
<% if @user.instructor? %>

  <div class="container">
    <div class="video-container my-10">
      <h3>My Published Videos</h3>
        <%= link_to 'Upload a video', new_video_path , class: 'btn btn-primary', style: 'display: inline-block' %>
        <div class="vid-grid">
          <% @user.videos.each do |vid| %>
            <div>
              <video muted width="300" src="<%= vid.video_url %>" type="<%= vid.video_type %>" class="video">
                Sorry, your browser doesn't support embedded videos.
              </video>
              <%= link_to video_path(vid) do %>
                <h5 class="vid-title"><%= vid.title %></h5>
                <p class="vid-details">By <%= vid.user.name %> </p>
              <% end %>
              <%= link_to edit_video_path(vid), style: 'margin-right: 32px;' do %>
                <i class="fas fa-pen"></i>
              <% end %>
              <%= link_to video_path(vid), method: :delete, data: { confirm: "Do you want to permanently delete #{vid.title}?" } do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="video-container my-10">
      <h3>My Purchased Videos</h3>
      <div class="vid-grid">
        <% @purchased_videos.each do |vid| %>
          <div>
            <video muted width="300" src="<%= vid.video_url %>" type="<%= vid.video_type %>" class="video">
              Sorry, your browser doesn't support embedded videos.
            </video>
            <%= link_to video_path(vid) do %>
              <h5 class="vid-title"><%= vid.title %></h5>
              <p class="vid-details">By <%= vid.user.name %> </p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<% else %>
  <!-- if not instructor-->
  <div class="container">
    <div class="video-container my-10">
      <h3>My Purchased Videos</h3>
      <div class="vid-grid">
        <% @purchased_videos.each do |vid| %>
          <div>
            <video muted width="300" src="<%= vid.video_url %>" type="<%= vid.video_type %>" class="video">
              Sorry, your browser doesn't support embedded videos.
            </video>
            <%= link_to video_path(vid) do %>
              <h5 class="vid-title"><%= vid.title %></h5>
              <p class="vid-details">By <%= vid.user.name %> </p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<% end %>
