<div class="col-12" style="min-width: 880px">
<%= cl_image_tag("https://res.cloudinary.com/cheyennelu/image/upload/v1614143078/yoga-banner.jpg", width: '100%', height: 250, background: 'white', crop: :lpad) %>
</div>
<div class="container">
  <div class="profile-container">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, width: 120, height: 120, crop: :fill, class: 'profile-avatar' %>
    <% else %>
      <%=  cl_image_tag('https://res.cloudinary.com/cheyennelu/image/upload/v1614151735/profile-default.jpg', class: 'profile-avatar') %>
    <% end %>
    <h2 class="user-name"><%= @user.name %></h2>
    <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-primary' %>
  </div>
</div>
<div class="container">
  <div class="video-container my-10">
    <h3>My Videos</h3>
    <div class="vid-grid">
      <% @purchased_videos.each do |vid| %>
        <div>
          <video controls width="400" src="<%= vid.video_url %>" type="<%= vid.video_type %>" class="video">
            Sorry, your browser doesn't support embedded videos.
          </video>
          <%= link_to video_path(vid) do %>
            <h5><%= vid.title %></h5>
          <% end %>
        </div>

      <% end %>
    </div>
  </div>
</div>

